.footer{
  height: 50px;
  // padding: 15px;
  width: 100%;

}
.navbar{
  
  background-color: rgb(156, 160, 160);

}
.navbar-nav{
  text-align: center;
    display: flex;

}
.nav-link{

color: blue;
text-decoration: none;
display: inline-block;
}
// .copy{
//   position: absolute;
// // margin-top: 590px;
//   // background-color: antiquewhite;
// justify-content: center;
// }