<div class="container-fluid mt-5">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="text-center  ">Manage Users</h2>
      </div>
      <div class="col-lg-6   text-end">
        <button class="btn btn-primary" (click)="addUser()">AddUser</button>
      </div>
      
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>UserName</th>
              <th>Email </th>
              <th>
    Actions
              </th>
            </tr>
          </thead>
    
          <tbody>
            <tr>
              <td>  </td>
              <td>  </td>
              <td>

              </td>
            </tr>
          </tbody>
        </table>
      
      </div>
    </div>
    </div>



   