
<div class="container">

    <h1>Create a New Post</h1>
    <form   [formGroup]= "postForm">

        <div class="mb-2">
            <label for="postTitle" class="form-label">Post Title</label>
            <input type="text" class="form-control" formControlName="blogTitle"id="postTitle" required>
        </div>
        <label for="img">Image <span class="require">*</span> <small>(This field use in url path.)</small></label>
        <div class="mb-2">
            <input
            type="file"
            class="form-control"
            id="imgurl"
            name="imgurl"
            formControlName="photo"
            (change)="onFileChange($event)"
          />
  </div>

        <div class="mb-2">
            <label for="postContent" class="form-label">Post Content</label>
            <textarea class="form-control"  formControlName="blogContent" id="postContent" rows="4" required></textarea>
        </div>
        <div class="mb-2">
            <label for="postCategory" class="form-label">Post Category </label>
            <input type="text" class="form-control"  formControlName="category" id="postCategory">
        </div>
        <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" value="" id="postPublished">
            <label class="form-check-label" for="postPublished">
                Publish post
            </label>
        </div>
        <button type="submit" class="btn btn-primary " (click)="onCreate()">Create Post</button>
    </form>

</div>

