<div class="container">
    <h1 class="text-primary mt-5 mb-3 text-center">Terms and Conditions</h1>
    <p>Content Ownership: The user is responsible for the content they publish on the blog app and owns the rights to their content.

        App Usage: Users must use the blog app in accordance with its intended purpose and in compliance with any applicable laws.
        
        User Conduct: Users are expected to behave appropriately when using the blog app, and any form of harassment, bullying, or hate speech is prohibited.
        
        Privacy: The blog app should provide a clear and concise privacy policy to users that outlines how user data is collected, stored, and used.
        
        Intellectual Property: Users are expected to respect the intellectual property rights of others, including copyrights, trademarks, and patents.
        
        Liability: The blog app is not responsible for any loss or damage caused by the user's use of the app, including any damage caused by third-party content or links.
        
        Indemnity: Users agree to indemnify the blog app and its owners against any claims or damages arising from their use of the app.
        
        These are some general terms and conditions that you may encounter when using a blog app. It's important to carefully read and understand these terms before using the app to ensure compliance and avoid any issues.
        
                      
        </p>
        <label class="btn btn-primary"> 
                        <input type="radio" name="options" id="option3" autocomplete="off">
                        I Agree the terms and conditions
 
          </label>
        
</div>