.card{
    height: 35vh;
    width: 300px;
   background-color: #246080;
   color: rgb(210, 208, 219); 
   font-family: 'Times New Roman', Times, serif;
   cursor: pointer;
}
.fa-solid{
    font-size:40px;
    margin-left:100px;
}
.row{
}