
<section class="featured-post">
<div class="container-fluid">
    <div class="row">       
        <div class="col-md-12 text-center  text-light mt-5">
            <h1>Featured Post</h1>
            <p class="text-center">Here Featured Posts are There</p>
        </div>        
    </div>
    <div class="row">
        <div class="col-sm-12 ">
            <app-postcard>                 
            </app-postcard>
        </div>
        </div>
       
    
    </div>
</section>
   

<section class="Latest-post">
    <div class="container-fluid">
        <div class="row">       
            <div class="col-md-12 text-center mt-5">
                <h1>Latest Post</h1>
                <p class="text-center">Here Latest Posts are There</p>
            </div>        
        </div>
        <div class="row">
            <div class="col-sm-12">
                <app-postcard></app-postcard>
            </div>

            </div>
        </div>
    </section>